<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css') }}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          
        </div>
    
        <!-- Login Form -->
        <form method="POST" actions="/">
          <input type="text" id="login" class="fadeIn second" name="ver" placeholder="Type of Hardware">
          <input type="text" id="password" class="fadeIn third" name="manu" placeholder="Manufacturer">
          <input type="text" id="password" class="fadeIn third" name="model" placeholder="Model #">
          <input type="submit" class="fadeIn fourth" value="Add">
        </form>

      </div>
    </div>
  </body>
</html>