<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
  <body>
    <h1>View</h1>
    <form method="POST" action="/">
        <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                  <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                      aria-hidden="true"></i></span>
                </div>
                <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
              </div>
    </form>  
    
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model#</th>
          </tr>
        </thead>
        <tbody>
        {% for i in items %}
          <tr>
            <th scope="row">#</th>
            <td>{{ i.ver }}</td>
            <td>{{ i.manu }}</td>
            <td>{{ i.model}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
  </body>
</html>